.logo{
	padding-top: 22px;
}
.menu ul{
	display: flex;
    list-style: none;
    justify-content: space-around;
}
.menu ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000de;
	text-decoration: none;
}
.menu li i {
	padding: 25px 12px
}
.menu li p {
	padding-top: 14px;
	font-size: 18px;
	font-weight: initial;
}
.body .top{
	height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(https://images5.alphacoders.com/374/374077.jpg);
    position: relative;
    overflow: hidden;
}
.body-top{
	width: 80% !important;
	position: absolute !important;
	top: 40% !important;
	text-align: center;
}
.inputSearch {
    width: 250px;
}
.btnSearch{
	height: 40px;
	margin-top:10px !important;
}
.body .center .content, .body .bottom .content{	
	display: flex;
	justify-content: space-between;

}
.body .center .content img{
	width: 90%;
}
.body .center .title, .body .bottom .title {
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 62px;
}
.body .bottom .title{
	width:40%;
}
.body .bottom .block{
	width:22%;
}
.body .bottom i{
	font-size: 60px;
	margin-right: 20px;
}
.iconLocation{
	font-size: 58px;
}
.MuiButtonBase-root svg.MuiSvgIcon-root{
	font-size: 38px;
}