.logo{
	padding-top: 22px;
}
.menu ul{
	display: flex;
    list-style: none;
    justify-content: space-around;
}
.menu ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000de;
	text-decoration: none;
}
.menu li i {
	padding: 25px 12px
}
.menu li p {
	padding-top: 14px;
	font-size: 18px;
	font-weight: initial;
}
.body .top{
	height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(https://images5.alphacoders.com/374/374077.jpg);
    position: relative;
    overflow: hidden;
}
.body-top{
	width: 80% !important;
	position: absolute !important;
	top: 40% !important;
	text-align: center;
}
.inputSearch {
    width: 250px;
}
.btnSearch{
	height: 40px;
	margin-top:10px !important;
}
.body .center .content, .body .bottom .content{	
	display: flex;
	justify-content: space-between;

}
.body .center .content img, .imageFilter{
  width: 100%;
  object-fit: cover;
}

.body .center .title, .body .bottom .title {
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 62px;
}
.body .bottom .title{
	width:40%;
}
.body .bottom .block{
	width:22%;
}
.body .bottom i{
	font-size: 60px;
	margin-right: 20px;
}
.iconLocation{
	font-size: 58px;
}
.MuiButtonBase-root svg.MuiSvgIcon-root{
	font-size: 38px;
}

/* layout search  */
.time{
    list-style: none;
}

.image{
    border-radius: 5%;
    /* max-width: 100%; */
    /* height: auto; */
}
.color span {
    color: tomato;

}
.hover-content:hover {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
   
}
.pagination{
	justify-content: center;
}
.pagination li {
    padding: 5px;
    margin-top: 20px;
}
.MuiFormControl-root.from {
    width: 100%;
}
.btn_info, .btn_book{
	font-size: 16px;
}
.col_btn_info, .col_btn_register, .col_input_info{
	display: none;
}
.col_btn_info_show{
	display: initial;
}
.iconChecked{
    color: #212529;
    cursor: no-drop !important;
}
.iconEmpty{
    color: #0000ff;
}
.iconCheck{
    color: rgba(244, 67, 54, 0.9);
}
.dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
}
#dtHorizontalVerticalExample th, td {
white-space: nowrap;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

strong.formatOverText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* admin */
body{
    overflow-x: hidden;
}
*{
    padding:0;
    margin: 0;
}
.admin-left{
    border-right: 1px solid #8080802e;
}
.block-menu{
    list-style: none;
}
.block-menu li a{
    font-weight: 600;
    color: rgba(27, 27, 27, 0.82);
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
    flex-direction: row;
    text-decoration: none;
 }
 .block-child, .menu-child{
    text-align: center;
 }
 .hide-icon, .hide{
    visibility: hidden;
 }
 .menu-child-toggle{
   display: none;
 }
 
 .icon-toggle{
    position: absolute;
    font-size: 12px !important;
    padding-top: 7px;
 }
.block-menu i{
    font-size: 18px;
}
.menu-search .MuiFormControl-root, .menu-search .MuiInput-formControl{
  width: 100%;
}
.iconAvatar .MuiAvatar-root {
    width: 24px !important;
    height: 24px !important;
}
@media (max-width : 990px){
  .layoutFilter{
    display: none;
  }
  .card-body .image{
     max-width: 100%; 
     height: auto; 
  }
}
.admin .MTableToolbar-title-47{
  width: 50%;
}
.admin-right .MuiFormControl-root{
  width: 100%;
}
.MuiButtonBase-root svg.MuiSvgIcon-root {
  font-size: 18px;
}
.admin .MuiButton-contained.Mui-disabled,button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary{
  width: 100%;
}

.body .MuiButtonBase-root svg.MuiSvgIcon-root, .menu-search .MuiButtonBase-root svg.MuiSvgIcon-root {
  font-size: 40px;
}

body {
    background: #F1F3FA;
  }
  
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  .profile-userpic {
    text-align: center;
}
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }